@CHARSET "UTF-8";

body {
	margin: 0px;
	letter-spacing: 2px;
}

#video {
	width: 100%;
	position: fixed;
	z-index: -98;
}

#fondo {
	width: 100%;
	height: 100vh;
	position: relative;
}

legend {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

#form {
	position: absolute;
	top: 35vh;
	width: 100%;
}

#form fieldset {
	width: 30%;
	color: red;
	border: solid 2px white;
	margin: 0 auto;
	font-family: Creepster, cursive;
	font-size: 0.85em;
	font-weight: bold;
}

#lineas-select {
	margin-left: 20px;
}

.p-inline {
	display: inline;
}

#frecuencia-select {
	width: 100%;
	text-align-last: center;
}

.footer-form {
	margin-top: 15px;
	width: 45%;
	display: inline-block;
}

#ruta1, #ruta2 {
	width: 98%;
	margin-top: 4px;
}

#ruta2 {
	margin-top: 15px;
}

.resultado-class {
	font-family: inherit;
	color: red;
	letter-spacing: 1.7px;
	margin-top: 3px;
	display: none;
}

.button-form {
	width: 45%;
	display: inline-block;
	position: relative;
	bottom: 10px;
}

.button-form button {
	font-family: Creepster, cursive; 
	background-color: transparent;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
	border: 2px solid white;
	letter-spacing: 1.5px;
}

.button-form button:hover, .button-form button:focus {
	color: red;
	border: 2px solid white;
}

.button-form button:active {
	color: white;
	border: 2px solid red;
}

#general-container {
	width: 100%;
	position: absolute;
	height: inherit;
}

#pergamino-container {
	z-index: -50;
	width: 100%;
	position: absolute;
	height: 100%;
}

#pergamino {
	width: 100%;
	height: 100%;
}

#pergamino-index {
	position: absolute;
	display: none;
	z-index: 100;
	width: 55%;
	left: 22vw;
	height: 930px; 
}

#pergamino-sheet {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.p-exception {
  text-align: center;
  font-family: Creepster, cursive;
  font-size: 2em;
  margin-top: 45%;
}

.preformateado {
	font-family: Creepster, cursive;
	letter-spacing: 1.2px;
	white-space: pre-wrap;
}

.palabra-encontrada {
	color: red;
}

.estadisticas {
	font-family: Creepster, cursive;
  letter-spacing: 1.2px;
}

.estadisticas-result {
	font-family: Creepster, cursive;
  letter-spacing: 1.2px;
  color: red;
}

#estadisticas {
	position: absolute;
	width: 17%;
	top: 50px;
}

#volver {
	font-family: Creepster, cursive; 
  background-color: transparent;
  color: white;
  font-weight: bold;  
  font-size: 1.5em;
  cursor: pointer;
  border: 2px solid black;
  letter-spacing: 1.5px;
}

#volver-button {
	top: 160px;
	position: absolute;
	left: 465px;
	display: none;
	z-index: 101;
}

#volver:hover, #volver:focus {
	color: black;
	border: 2px solid red;
}

#volver:active {
	color: white;
	border: 2px solid black;
}